<div class="container">
  <app-navbar></app-navbar>
  <div class="content">
    <div class="list">
      <div class="jobs-list">

        <a href="/recruiter">
          <img class="back" src="https://cdn-icons-png.flaticon.com/512/0/340.png">
        </a>
        <div class="jobs-results">
          Offerts
        </div>

<!--        <div class="jobs">-->
<!--          <div class="job">-->
<!--            <div class="image">-->
<!--              {{jobs["name"]}}      {{jobs["surname"]}}-->
<!--            </div>-->
<!--            <div class="details">-->
<!--              <div class="benefits">-->
<!--                {{jobs.phone}}-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="titles" *ngFor="let j of jobs['jobs']">-->
<!--              {{j.title}}-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>

