<div class="list">
  <div class="jobs-list">
    <div class="search-engine">
      <img src="https://static.vecteezy.com/system/resources/previews/001/504/972/non_2x/search-icon-free-vector.jpg">
      <input type="text" placeholder="Search job title or keyword" [(ngModel)]="searchValue" (keydown.enter)=search()>
      <button class="search" (click)="search()">Find jobs</button>
    </div>

    <div class="jobs-results">
      {{this.filteredData.length}} Jobs results
    </div>

    <div class="jobs">
      <div class="job" *ngFor="let job of filteredData">
        <div class="image">
          <img [src]="job.image">
        </div>
        <div class="details">
          <div class="title">
            {{job.title}}
          </div>
          <div class="benefits">
            {{job.payment}} ⚫ Duration {{job.duration}} ⚫ Left {{job.students}}
          </div>
          <div class="description">
            {{job.description}}
          </div>
        </div>
        <div class="time">
          <a [href]="'https://www.google.com/maps/place/' + job.location">
            <div class="location">
              <img src="https://cdn-icons-png.flaticon.com/512/64/64113.png">
              {{job.location}}
            </div>
          </a>

          <div class="deadline">
            Deadline {{job.deadline}}
          </div>
          <button class="apply" (click)="apply()">Apply</button>
        </div>

      </div>
    </div>
  </div>
</div>
