
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: whitesmoke;
  padding: 20px 50px;
  border-bottom: 1px solid lightgray;

  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold;

    img {
      width: 40px;
      border-radius: 5px;
      margin-right: 15px;
    }
  }

  .user-name {
    font-weight: bold;
    font-size: 18px;
  }

  .user {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 50px;
      border-radius: 50%;
    }

    .notifications {
      cursor: pointer;
      width: 30px;
      margin-right: 20px;
    }
  }
}

.bg {
  background: whitesmoke;
  padding: 50px;
  display: flex;
  justify-content: space-between;

  .ftitle {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .stitle {
    font-size: 14px;
  }
}
